{% extends "base.html" %}
{% block main %}
<div id="dataSetsPage">
    <!-- Start Page Header -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Data Sets</h1>
            <p>This page shows any existing data sets. Click any data set to view it's contents. To upload a new data set, click the import button to select a new data set from your local file system.</p>
            <form id="fileInputForm" method="POST" action="{{url_for('upload')}}" enctype="multipart/form-data">
                <label class="btn btn-primary btn-lg">
                    Import new data set &raquo;<input id="fileInput" name="file" type="file" style="display: none;"/>
                </label>
            </form>
        </div>
    </div>
    <!-- End Page Header -->

    {% if render_table == True %}
    <!-- Start Table -->
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Crystal</th>
                    {% for feature in header %}
                        <th scope="col">{{ feature }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in body %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        {% for col in row %}
                            <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

            <!-- Start Label Selection -->
            <thead>
                <tr>
                    <th scope="col">Select a label:</th>
                    {% for feature in header %}
                        <th scope="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input label-select" type="radio" name="inlineRadioOptions" id={{ "inlineRadio%d" % loop.index }} value={{ "option%d" % loop.index }}>
                                <label class="form-check-label" for={{ "inlineRadio%d" % loop.index }}>{{ feature }}</label>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        <!-- End Label Selection -->

        <!-- Start Feature Selection -->
            <thead>
                <tr>
                    <th scope="col">Select features:</th>
                    {% for feature in header %}
                        <th scope="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input feature-select" type="checkbox" id={{ "inlineCheckbox%d" % loop.index }} value={{ "option%d" % loop.index }}>
                                <label class="form-check-label" for={{ "inlineCheckbox%d" % loop.index }}>{{ feature }}</label>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
        <!-- End Feature Selection -->

        <!-- Start Train section-->
        <form id="trainInputForm" method="POST" action="{{url_for('train')}}" enctype="multipart/form-data">
            <label class="btn btn-primary btn-lg">
                Train selected
            </label>
        </form>
        <!-- End Train section-->

        
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extra_scripts %}
    <script>
        document.getElementById("fileInput").onchange =
            () => document.getElementById("fileInputForm").submit()

        // Add event listener to each label radio button that 
        // disables the feature button of the same name.
        $(".label-select").change(function () {
            var id = $(this).attr('id');
            var num = id.replace( /^\D+/g, ''); // replace all leading non-digits with nothing

            enableAllFeatureCheckboxes(id, num);
            disableAndUncheckFeature($("#inlineCheckbox" + num));
        });

        var enableAllFeatureCheckboxes = function (id, num) {
            $(".feature-select").each(function (index, elem) {
                $(this).prop('disabled', false);
            });
        }

        var disableAndUncheckFeature = function (checkbox) {
            checkbox.prop('disabled', true);
            checkbox.prop('checked', false);
        }
    </script>
{% endblock %}
