{% extends "base.html" %}
{% block main %}
<div id="dataSetsPage">
    <!-- Start Page Header -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Data Sets</h1>
            <p>This page shows any existing data sets. Click any data set to view it's contents. To upload a new data set, click the import button to select a new data set from your local file system.</p>
            <p><a id="importDataButton" class="btn btn-primary btn-lg" href="" role="button">Import new data set &raquo;</a></p>
        
            <form id="fileInputForm" action={{url_for('upload')}} method = "POST" enctype="multipart/form-data">
                <input id="fileInput" name="file" type="file" style="display: none;"/>  
            </form>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Start Mock Table -->
    <div class="container">

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Crystal Name</th>
                    <th scope="col">Feature 1</th>
                    <th scope="col">Feature 2</th>
                    <th scope="col">Feature 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>The Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>

            <!-- Start Label Selection -->
            <thead>
                <tr>
                    <th scope="col">Select a label:</th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Feature 1</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Feature 2</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3">Feature 3</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <!-- End Label Selection -->

            <!-- Start Feature Selection -->
            <thead>
                <tr>
                    <th scope="col">Select features:</th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Feature 1</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Feature 2</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Feature 3</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <!-- End Feature Selection -->
        </table>
    </div>
    <!-- End Mock Table -->
    
</div>
{% endblock %}

{# TODO: ADD A TABLE TO VIEW THE CSV DATA #}